@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #040066;
  --secondary: #f00a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-raleway);
  --font-serif: var(--font-merriweather);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
}
